.info-boxes {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.info-box {

  flex:0 0 50%;
  max-width:50%;

  @media (min-width:768px){
    flex:0 0 20%;
    max-width:20%;
  }

  .info-box-bg {
    background:$grey;
    border:10px solid #fff;
    border-radius:5px;
    margin:10px;
  }

  h3 {
    color:$green;
  }

  p {
    color:#000;
  }

}