header {

  position: relative;
  padding-top:40px;

  @include media-breakpoint-up(md){
    padding-top:100px;
  }

  &:after {
    content:'';
    display:block;
    height:calc(20px + 2vw);
    width:100%;
    background:$green;
    margin-top:calc(-10px - 2vw);
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.1);
  }


}
