.review {

    background:$primary;
    padding:40px;
    color:#fff;
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,.15);

    h4 {
        position:relative;

        &:before {
            content:'';
            height:3px;
            width:15px;
            display:inline-block;
            background:#fff;
            margin-right:10px;
            position:relative;
            top:-7px;
        }
    }

    a {
        &:hover, &:active, &:focus {
            color:#000;

            &:after {
                background:#fff;
                z-index:1;
            }
        }
    }

}
