.websites {

  text-align: center;
  margin-top:50px;

  > div {
    margin-bottom:50px;
    @include media-breakpoint-up(md){
      margin-bottom:100px;
    }
    &:last-child {
      margin-bottom:0!important;
    }
  }

  img {
    margin-bottom:30px;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
    @include media-breakpoint-up(md){
      margin-bottom:40px;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom:30px;
  }

  p {
    font-size:18px;
    color:$muted;
  }

  .btn {
    margin-top:20px;
  }

}
